---
name: Test Coverage

permissions: {}

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/codecov.yml
      - src/**/*.rs
      - tests/**/*.rs
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/codecov.yml
      - src/**/*.rs
      - tests/**/*.rs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  coverage:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - uses: taiki-e/install-action@b4b80945859e8ef89a9732a0f46499a443b196fe # v2.62.59
        with:
          tool: cargo-tarpaulin
      - name: Run instrumented tests
        run: cargo tarpaulin --all-targets --skip-clean --out xml
        env:
          RUST_LOG: cargo_tarpaulin=error
      - name: Upload codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
