name: Release

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        name: Build Binary
        strategy:
            matrix:
                os:
                    - macos-latest
                    - ubuntu-latest
                    - windows-latest
                include:
                    - os: macos-latest
                      target: x86_64-apple-darwin
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                    - os: windows-latest
                      target: x86_64-pc-windows-msvc

        runs-on: ${{ matrix.job.os }}
        steps:
            - uses: actions/checkout@v3
            - name: Build
              run: cargo build --verbose --target ${{ matrix.target }} --release
            - name: Run tests
              run: cargo test --verbose
